*{
    margin: 0;
    padding: 0;
    font-family:Century Gothic;
    
}
header{
    background-image: url(bgp.webp);
    height: 100vh;
    background-size: cover;
    background-position:center;
    margin-bottom: 100px;
}
.main{
    max-width: 90%;
}
.main ul{
    float: right;
    list-style: none;
    margin-top: 1rem;
}
.main ul li{
    display:inline-block;
}
.main ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.6s ease;
    
}
.main ul li a:hover{
    background-color: #fff;
    color:#000;
    margin-bottom: 100px;
}
.logo img{
    float: left;
    width: 150px;
    height: auto;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: #fff;
    font-size: 70px;
    align-items: center;
}
.button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn{
    align-items: center;
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    margin-left: 0.2rem;
   
}
.btn a{
    color: #fff;
}
.btn:hover{
    background-color:#000;
    color: #000;
    
}

